<%- include('partials/header')  -%> 

   <div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
      <div class="col-12 col-lg-6  ">
        <!-- <img src="" width="607" height="510" class="d-block mx-lg-auto img-fluid rounded" loading="lazy" alt=""> -->
      </div>
   </div>
  
  <!-- <div class="col-12 col-lg-6">
       <h1 class="display-5 fw-bold mb-3">Huge Selection of Delicious Recipe Ideas</h1>
       <p class="lead">Explore our huge selection of delicious recipe ideas including; easy desserts, delicious vegan and vegetarian dinner ideas, gorgeous pasta recipes, quick bakes, family-friendly meals and gluten-free recipes.</p> 
      <div class="d-grid gap-2 d-md-flex justify-content-md-start"></div>
  </div>
   -->
                <!-- post-container -->
                <!-- <div class="post-container">
                  <h2>latest recipes</h2>
                      <% posts.forEach(post => { %>
                              <div class="post-content">
                                <div class="row">                           
                                        <div class="col-md-4">
                                            <a class="post-img" href="/<%= post._id %>"><img src="/uploads/<%= post.image %>" alt=""/></a>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="inner-content clearfix">
                                                <h3><%= post.title %></a></h3>

                                                <div class="post-information"> 
                                                  <p class="description"><%= post.description %></p>

                                                    <span>
                                                        <i class="fa fa-" aria-hidden="true"></i>
                                                        <%= post.ingredients %>
                                                    </span>

                                                    <span>
                                                      <i class="fa fa-" aria-hidden="true"></i>
                                                      <%= post.category.name %>
                                                  </span>

                                                    <span>
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                        <%= post.formattedDate %>
                                                    </span>

                                                </div>
                                                <a class='read-more pull-right' href='/<%= post._id %>'>read more</a>
                                            </div>
                                        </div>                 
                                </div>
                            </div>
                        <% }) %>
                </div> -->
                <!-- /post-container -->














  <%- include('partials/footer')  -%>
  
  
   
  
  